<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="main">
        <div class="heading">
            <h1>Splunk Query</h1>
        </div>
        <div class="formDiv">
            <form action="/splunk-query" method="POST">
                <label for="ip">IP Address</label><br>
                <input type="text" id="ip" name="ip" required placeholder="Splunk IP address" autofocus pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}:[0-9]{4}$" /><br><br>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" required placeholder="Splunk Username" /><br><br>
                <label for="password" id="password">Password</label><br>
                <input type="password" id="password" name="password" required placeholder="Splunk Password" /><br><br>
                <label for="query" id="query">Query</label><br>
                <input type="text" id="query" name="query" required placeholder="Search Query"/><br><br>
                <label for="range" id="range">Time Range</label><br>
                <input type="text" id="range" name="range" placeholder="data query range"/><br><br>
                <label for="email" id="email">Email</label><br>
                <input type="email" id="email" name="email" placeholder="Email address"/><br><br>
                <div class="btnDiv">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>