<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="main">
        <div class="heading">
            <h1>Splunk Query</h1>
        </div>
        <div class="formDiv">
            <form action="/splunk" method="POST">
                <label for="ip">IP Address</label><br>
                <input type="number" id="ip" name="ip" /><br>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" /><br>
                <label for="password" id="password">Password</label><br>
                <input type="password" id="password" name="password" /><br>
                <label for="query" id="query">Query</label><br>
                <input type="text" id="query" name="query" /><br>
                <label for="range" id="range">Time Range</label><br>
                <input type="text" id="range" name="query" /><br>
                <label for="email" id="email">Email</label><br>
                <input type="email" id="email" name="email" /><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>